<div class="panel panel-info">
  <div class="panel panel-body">
    <p>
      <strong>Title:</strong>
      <%= @job.title  %> 
    </p>
    <p>
      <strong>req experience:</strong>
      <%= @job.req_experience  %> 
    </p>
    <p>
      <strong>offere ctc:</strong>
      <%= @job.offer_ctc  %> 
    </p>
    <p>
      <strong>contact_person:</strong>
      <%= @job.contact_person  %> 
    </p>
    <p>
      <strong>contact person no:</strong>
      <%= @job.contact_person_no %> 
    </p>
    <p>
      <strong>location:</strong>
      <%= @job.location  %> 
    </p>
    <p>
      <strong>vacancies:</strong>
      <%= @job.no_of_vacancies  %> 
    </p>
    <% if user_signed_in? && current_user.is_manager? %>
      <p>
        <strong>Status:</strong>
        <%= @job.status  %> 
      </p>
      <%= link_to 'back', jobs_path, class: 'btn btn-primary'%>
    <% else %>
      <h4>
      <%= label_tag :remeber_new_related_job_alert %>
      <%= check_box_tag :job_updates ,{checked: true}, false, class: 'box-checked'  %><br />
      </h4>
      <%= link_to 'back', root_path, class: 'btn btn-primary'%>
      <% if user_signed_in? %>
        <%= link_to 'submit', root_path, class: 'btn btn-primary'%>
      <% else %>
        <%= link_to 'submit', user_session_path, class: 'btn btn-primary'%>
      <% end%>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
      //set initial state.
    $('.box-checked').change(function() {
      $('.box-checked').val(this.checked);  
        var value = $('.box-checked').val();
          $.ajax ({
            url: '/users',
            data: {enable_notification: value, require_category: '<%= @job.category.id %>'},
            dataType: 'script',
            method: 'PATCH'
          })      
    })
  });
</script>
