<div class="row">
  <center>
    <div class="well" style="width:50%;">
      <h2 class="cus-align-center">Login</h2><br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render 'layouts/flash_message'%>
        <%#= devise_error_messages! %>
        <div class="form-group row">
          <%= f.label :email, class: 'col-sm-2 col-form-label-lg' %>
          <div class="col-sm-10">
            <%= f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'Enter Email' %><br />
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :password, class: 'col-sm-2 col-form-label-lg' %>
          <div class="col-sm-10">
            <%= f.password_field :password, autofocus: true, class: 'form-control', placeholder: 'password' %><br />
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-12 col-lg-12">
            <%= f.submit "Login", class: 'btn btn-primary' %>
          </div>
        </div>
        <%unless params["as_a_manager"].eql?("true")%>
          <div class="form-group row">
            <%= link_to user_facebook_omniauth_authorize_path(:facebook), class: "btn btn-sm btn-social btn-facebook btn-primary" do %>
              <span class="fa fa-facebook"></span>Facebook <br>
            <% end %>
            <%= link_to user_facebook_omniauth_authorize_path(:google), class: "btn btn-sm btn-social btn-google primary-danger" do %>
              <span class="fa fa-google"></span>Gmail
            <% end %>
          </div>
        <%end%>
        <p>New User?
          <%= render "devise/shared/links", class: "offset-12 col-lg-12" %>
        </p>
        
      <% end %>
    </div>  
  </center>
</div>    
